footer{
    background-color: var(--bordercolor);
    height: 60px;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
}
footer a{
    font-size: 18px;
    text-decoration: none;
    color: var(--linkcolor);
}  

footer a:hover{
    cursor: pointer;
    color: var(--linkcolorhover);
    text-decoration: underline;
}
